html,
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 7fr 3fr;
	grid-template-columns: 1.5fr 5fr 2fr;
	grid-template-areas:
		"navbar main main"
		"navbar main main";
	text-align: center;
}

.main {
	grid-area: main;

	display: flex;
	justify-content: center;
	align-items: center;
}
